<div class="row">
  <div class="col">
    <h1>Home Page!</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 card">
    <div class="card-body">
      <%= if have_current_user?(@conn) do %>
        <p><%= link("new event", to: Routes.event_path(@conn, :new)) %></p>
        <p><%= link "events list", to: "/events" %></p>
      <% else %>
        <p>Login first!</p>
      <% end %>
    </div>
  </div>
</div>
